---
import { Plus } from "lucide-react";
---

<div
    class="rounded-xl bg-[url('./src/images/CarImage.png')] h-full flex flex-col justify-between bg-cover bg-center"
>
    <h1 class="text-[#C2C2C2] font-semibold pl-4 pt-2">
        Porsche 911 GT2 RS <br /> Clubsport
    </h1>
    <button
        class="rounded-full flex justify-center gap-1 text-sm items-center py-4 text-center text-[#C2C2C2] bg-transparent shadow-inner-custom font-semibold"
    >
        <Plus className="w-4 h-4 rounded-full" /> add to your garage
    </button>
</div>
