---
import { Image } from "astro:assets";
import myImage from "../images/ChatGPT.png";
---

<div class="bg-[#AB68FF] py-2 h-full flex flex-col justify-between rounded-xl">
    <div class="flex justify-between items-start px-2">
        <Image src={myImage} alt="chat-gpt" class="w-8 h-8 object-cover" />
        <h1 class="text-[#C2C2C2]">22/11/2024</h1>
    </div>
    <p class="text-white text-base px-4">
        Embrace today's moments, for they are tomorrow's memories.
    </p>
    <p class="text-[#C2C2C2] font-semibold px-4">ChatGPT–4</p>
</div>
